@charset "utf-8";
/* CSS Document */




/**清除内外边距**/
*{margin: 0; padding: 0;}
body { text-align: center; font-family: "宋体"; margin: 0;  padding: 0; background: #FFF; font-size: 12px; color: #666;}
div, form, img, ul, ol, li, dl, dt, dd, th, td, p, img, button,   { margin: 0; padding: 0; border: 0; }
li, dl{ list-style-type:none; }
h1, h2, h3, h4, h5, h6, hr { margin: 0; padding: 0; font-weight: normal; font-size: 12px; text-decoration: none;}
table{  padding: 0; margin: 0;  }
img{ border: 0; }



/** 超链接元素**/
a{ color:#555; text-decoration:none;}
a:hover{ text-decoration:none; color:#025ba7}



.left{ float: left; }
.right{ float: right; } 
.clear { clear: both; font-size: 1px; height: 0; line-height: 0px; }


.red{ color: #DA1C09;  }
.blue{ color:#095785}
.weight{ font-weight: bold;}

/* 蓝色按钮样式*/
.base_btn{ display:inline-block;height: 26px; background: url(../images/btn.jpg) no-repeat left 0px; padding-left: 15px; padding-right: 0;
				 color: #FFF; line-height: 26px;  margin: 0 0 0 2px;}
.base_btn:hover{ background: url(../images/btn.jpg) no-repeat left -29px;}
.base_btn span{display:inline-block;height: 26px; background: url(../images/btn.jpg) no-repeat right 0px; line-height: 26px; 
					padding-right: 15px; border: 0; color: #FFF;  margin: 0 0 0 2px; cursor: pointer; font-family: "微软雅黑"}
.base_btn:hover span{ background: url(../images/btn.jpg) no-repeat right -29px; }

/* 内容页导航 */
.small_nav{ float: left; text-align: left; padding: 0 0 15px 0;}
.small_nav a{ position:relative; margin-right:5px; line-height:26px; padding: 1px 10px; color:#555; font-size:12px; float: left; background: #EFEFEF; }
.small_nav a:hover{ color:#3399CC}
.small_nav a.hover{ background: #3399CC; color:#FFF;}


/** 表格公共样式 **/
.table_border{ width: 100%; border-collapse: collapse; margin: 5px 0 5px 0; }
.table_border .head{ background: url(../images/main_07.gif) repeat-x; height: 26px; line-height: 26px; font-weight: bold; text-align: center; }
.table_border .piece{ background: #f0f9ff;}
.table_border td{ border: 1px solid #d3e5f3; text-align: center; line-height: 26px; }
.table_border a{  color:#095785; text-decoration: none; }
.table_border a:hover{  color:#095785; text-decoration: underline; }

/** 表格下方的按钮**/
.table_under_btn{ background: #EFEFEF; height: 30px; line-height: 30px; padding:4px 12px 4px 8px; border-bottom: 1px solid #F0F0F0;
                  border-top: 1px solid #dedede; margin-bottom: 5px; text-align: center;  }
/**翻页样式 **/
.flip{ text-align: center;}
.flip a{  margin:0 1px; padding:6px 10px; border: 1px solid #DEDEDE;  }
.flip a:hover, .flip .current{  cursor: pointer; background: #DEDEDE; color: #000; border: 1px solid #ccc;  }




