/*@charset "utf-8";
/* 公共之标签样式 */
.roll{ padding:8px 0; width:1000px; overflow: hidden; position:relative;}
.roll ul{float: left; width: 200000px;position: relative;left: 0px;}
.roll li{ margin-right:20px; color:#919191; float: left}
.roll li .orange{ font-size:12px; color:#ffa800}



.left_list{ width:653px; border: 1px solid #DDD; background: #fff; padding: 15PX; float: left;}
.i_one_n{ float: left; margin-bottom:15px;}
.i_one_n dt{ width:245px; height:180px; float: left; margin-right:15px;}
.i_one_n dd{ float: left; line-height:24px; color:#999; width:390px; font-size:14px;}
.i_one_n dd a{ color:#555}
.i_one_n dd a:hover{ color:#555; text-decoration: underline}
.i_one_n dd span{ font-size: 18px; text-align: left; width:390px;  float: left;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; color:#555; margin-bottom:20px;}
.i_one_n dd span:hover{ color:#66b07d;}
.i_o_list{ border-bottom: 1px solid #DEDEDE; padding-bottom:15PX;}
.i_o_list ul{}
.i_o_list li{ margin-top:10px; font-size:14px;}
.i_o_list li a{ color:#777; }
.i_o_list li a:hover{ color:#409c5a; text-decoration: underline}
.i_o_list li .left_i{ background: url(../images/list.jpg) no-repeat left center; padding-left:12px; float: left}
.i_o_list li span{ color:#999; float: right; padding-right:10px;}

.i_t_list{}
.i_t_list ul{}
.i_t_list li{ margin-top:15px;*margin-top:0px; font-size:14px;}
.i_t_list dt{ width:115px; height:70px; float: left; margin-right:15px;}
.i_t_list dd{ float: left; line-height:20px; color:#999; width:515px; font-size:12px;}
.i_t_list dd a{ color:#555}
.i_t_list dd a:hover{ color:#555; text-decoration: underline}
.i_t_list dd span{ font-size: 16px; text-align: left; width:515px;  float: left;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; color:#555; margin-bottom:10px;}
.i_t_list dd span:hover{color:#66b07d;}


.right_mode{ float: right; }
.charity_info{min-height: 210px;padding:15px; width:270px; background:#FFF; border: 1px solid #DEDEDE; margin-bottom:15px;}
.o_icon{min-height: 330px;padding:15px; width:270px; background:#FFF; border: 1px solid #DEDEDE; margin-bottom:15px;}
.ph_o{ padding-left: 37px; padding-bottom:15px; border-bottom: 1px solid #DEDEDE}
.ph_img{ float: left; margin-right:10px;}
.ph_t{ font-size:20px; font-weight: bold; color:#555; float: left}
.ka_o{ padding-left: 2px; padding-top:20px; padding-bottom:15px;}

.i_o_btn{ padding-bottom:10px; padding-top:12px}
.i_o_btn a{ width:270px; height:34px; background:#66b07d; line-height:34px; color:#fff; font-size:16px; text-align: center; display: block} 
.i_o_btn a:hover{ background:#5bba79}

.j_tit{ font-size:16px; line-height:30px; border-bottom:1px solid #DDD; padding-bottom:5PX;}
.j_list{ padding:14px 0 0;}
.j_list li{ margin-bottom:15px; width:100%}
.j_list span{ width:33%; display: inline-block; color:#999}
.t_right{ text-align: right}
.orange_2{ color:#ffa800}


.b_list{ margin:0 0 10px;}
.b_list ul{}
.b_list li{ width:968px; border: 1px solid #DEDEDE; background:#fff; padding:15PX; margin-bottom:10px;}




.list_mode{ width:760PX; border-right: 1PX dotted #dedede; float: left;}
.list_mode .title{ text-align: left; width:575px; float: left; margin-bottom:10px;}
.t_font{cursor: pointer; font-size:18px; color:#646464; text-align: left; font-weight: bold; float: left; max-width:425px;}
.t_font:HOVER{ color:#66b07d;}
.tip{ background: url(../images/index_or.jpg) no-repeat left top; width:51px; height:17px;float: left;color:#FFF;line-height:17px;text-align:left;padding-left:7px; margin: 4px 0 0 5px;}
.tip_t{ background: url(../images/index_gr.jpg) no-repeat left top; width:51px; height:17px;float: left;color:#FFF;line-height:17px;text-align:left;padding-left:7px; margin: 4px 0 0 5px;}

.l_l{ float: left; width: 760px; }
.l_l dt{ width:160px; height: 140px; float: left; margin-right: 12px;}
.l_l dd{ color:#919191; line-height:20px; text-align: left; width:570px; float: left}

.t_time{ padding-top:10px;}

.right_m{ width: 155px; float: left; padding: 15px 0 0 30px}
.one_m{ font-size:14px; color:#919191; margin-bottom:10px; line-height:26px;}
.two_m{ color:#919191}
.btn_m{ background:#66b07d; width:155px; height: 33px; line-height:33px; text-align: center; font-size: 18px; color:#FFF; cursor: pointer }
.btn_g{ background:#c8c8c8; width:155px; height: 33px; line-height:33px; text-align: center; font-size: 18px; color:#FFF; cursor: pointer }


.in_m{ margin:10px 0;}
.in_m a{background:#66b07d; width:1000px; height: 26px; line-height:26px; text-align: center; font-size: 14px; color:#FFF; cursor: pointer; display: block}
.in_m a:hover{ background: #3fae61}

.in_b_th{ margin-bottom:10px;}
.in_b_th a{ float: left; margin-right:10px; font-size:24px; text-align: center; font-weight: bold; line-height:119px; color:#66b07d}
.cyzn{ background: url(../images/in_03.jpg) no-repeat left top; width:324px; height:119px;}
.sqzn{ background: url(../images/in_05.jpg) no-repeat left top; width:326px; height:119px;}
.cwgk{ background: url(../images/in_07.jpg) no-repeat left top; width:327px; height:119px;}