/*@charset "utf-8";
/* 我的捐赠 */
.my_left_l{float: left; padding:10px 0;}
.my_tav{ width:598px; border: 1px solid #DEDEDE; padding:10PX; background:#fff; margin-bottom:10px;}
.my_tav a{ padding:0 16px; border-right: 1px solid #dedede; font-size:16PX; line-height:22px;}
.my_tav a:hover,.my_tav a.hover{ color:#ffa800; font-weight: bold}

.my_n_box{ background:#FFF; padding:10px; border: 1px solid #DEDEDE;width:598px; margin-bottom:10px;}
.my_ro{ text-align: center; position:relative; width:95px; color:#999; cursor: pointer}
.m_jk{ background: url(../images/jj_03.jpg) no-repeat left center; width:8px; height:6px; position: absolute; right: 0; top:6px; display: block}

.my_o_list{border-top: 1px solid #DEDEDE; margin-top:10px;}
.my_o_list ul{}
.my_o_list li{ margin-top:10px; color:#999; padding-bottom:6px; border-bottom: 1px dotted #DEDEDE}
.my_o_list li a{ color:#999}
.my_o_list li .left_i{ float: left}
.my_o_list li span{ color:#999; float: right; padding-right:10px;}


.my_right_l{ width:340px; border: 1px solid #DEDEDE; padding:10PX; background:#fff; margin-bottom:10px; float: right; margin-top:10px;}
.my_r_dl{ width:340px; float: left;}
.my_r_dl dt{ width: 130px; height:160px; float: left; margin-right:15px;}
.my_r_dl dd{ color:#999; float: left; width:190px; line-height:20px; padding-top:10px;}
.my_r_dl dd span{ font-size:18px; font-weight: bold; color:#666;}
.my_r_dl dd .line{ width: 190px; height:1px; border-bottom:1px solid #DEDEDE; margin:10px 0;}
.my_r_dl dd b{ font-size:14px; font-weight: bold; color:#666; margin-bottom:4px;}

.f_i_b{ padding:20px 0 0 80px;}

/** 每一个表单项定位 **/
.form_item{  margin: 26px 0 18px 0; text-align: left; font-size:16px;}
/** 表单项标签名 **/
.form_item .form_span{ text-align: right; width: 100px; line-height: 28px; float: left; margin-right:10px; }
/** 针对表单输入框的一个美化**/
.form_item .piece{ border:1px #DDD solid; background:#FFF; height: 28px; width: 300px; line-height: 28px; outline: none; padding-left:10px; color:#999  }
.form_submit{  margin: 25px 0 16px 0; float:left; text-align: left; padding-left: 110px; }

.form_submit a{ color:#FFF}

.f_btn{ width:165px; height:34px; line-height:34px; font-size:16px; color:#FFF; text-align: center; background:#66b07d; display: block;}
.f_btn:hover{ color:#FFF}

.xg_t{ line-height:30px;}
.xg_t a{ text-decoration: underline}







.xs_o_t{ height:50px; padding:10px 10px 0; width:978px; border: 1px solid #DEDEDE; background:#fff; margin:10px 0;}
.l_o_btn{ float: left}
.l_o_btn a{width:118px; height:38px; line-height:38px; font-size:16px; color:#FFF; text-align: center; background:#ffa800; display: block; }
.r_o{ float: right; padding-top:6px;}
.lx_o{ float: left; border-right: 1px solid #DEDEDE; padding-right:16px;}
.lx_o span{ font-size:18px; float: left; color:#999;}
.o_m_jk{ background: url(../images/jj_03.jpg) no-repeat left center; width:8px; height:6px; display: block; margin-top:10px; margin-left:10px;}
.sear_o{ float: left; margin-left:16px;}
.sear_o .piece{ border:1px #DDD solid; background:#FFF; height: 26px; width: 150px; line-height: 26px; outline: none; padding-left:10px; color:#999  }
.se_o_btn{ float: left; margin-left:10px;}
.se_o_btn a{width:55px; height:30px; line-height:30px; font-size:16px; color:#FFF; text-align: center; background:#66b07d; display: block; }




.banner_help{ width:100%; height:244px; background:#309dca }
.help_img{ width:1000px; margin: 0 auto}
/** 每一个表单项定位 **/
.help_form_item{  margin: 10px 0 18px 0; text-align: left; }
/** 表单项标签名 **/
.help_form_item .form_span{ text-align: right; width: 140px; line-height: 28px; float: left; margin-right:10px; font-size:14px; color:#999 }
/** 针对表单输入框的一个美化**/
.help_form_item .piece{ border:1px #DDD solid; background:#FFF; height: 28px; width: 300px; line-height: 28px; outline: none; padding-left:10px; color:#999  }
.help_form_submit{  margin: 25px 0 16px 0; float:left; text-align: left; padding-left: 210px; }

.help_form_submit a{ color:#FFF}

.help_tip{ padding:60px 0 0 150px; font-size: 14px; color:#999; margin-bottom:10px;}
.help_b{ padding-left:200px; padding-top:10px;}

.left_m{ float: left; margin:0 5px; line-height:30px;}
/*自定义下拉框*/
.select_div {position:relative;text-align:left;margin-top:5px;}
.select { width:255px; height: 30px;background-color: #FFF;border: 1px solid #e2e2e2;padding: 0px 0px 0px 5px;color:#555;line-height:30px;}
.select .select_box {
    padding-right: 80px;float:left;
}
.select .hover {
    float:left;color:#555;
}
.select_list {
    width:260px;text-align: left;background-color: white;border-left: 1px solid #e2e2e2;border-right: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2;line-height:30px;color:#555;z-index:88;position:absolute;top:32px;left:0px; display:none;
}
.select_list li {
    color:#555;
}
.select_list li a{
    display: block;color:#555;
    padding-left:5px;
}
.select_list li a:hover , .select_list li .hover{
    background-color:#e7e7e7;
}


/*选择框的三角形图标*/
.select_icon {
background-position:0px -7px;width:11px;height:5px;margin:13px 5px 0px 0px;float:right;
}

/*图标*/
.icon {background:url(../images/icon.png) no-repeat;}
.checkbox {vertical-align: -2px;}
/*输入框样式*/
.input_text{border:1px solid #ddd; min-height:220px; background:#FFF; width:500px;line-height:22px;float:left; padding-left:5px;outline: none;resize: none;}

.sum_ben{ background:#66b07d; width:165px; height:34px; line-height:34px; color:#FFF; font-size:16px; text-align: center; display: block}
.sum_ben:hover{ color:#FFF;}


.left_about{ width:270px; float: left; background:#FFF; border: 1px solid #DEDEDE; padding: 10PX 0; margin-top:15PX;}
.l_a_t{ font-size:26px; color:#66b07d; text-align: center; padding:12px 0 20PX; font-weight: bold; border-bottom:1px solid #eaeaea}
.l_a_nav{ margin-top:22px;}
.l_a_nav a{ width:100%; height:38px; line-height:38px; text-align: center; color:#646464; font-size:20px; display: block; margin-bottom:10px;}
.l_a_nav a:hover{ color:#66b07d}
.l_a_nav a.hover{ background:#66b07d; color:#FFF}

.right_about{min-height: 500px; width:690px; float: right;background:#FFF; border: 1px solid #DEDEDE; padding: 15PX; margin:15PX 0;}
.r_a_t{ font-size:14px; color:#646464; line-height:26px; margin:15px 0; text-align: left}



.left_xq{ width:560px; float: left; background:#FFF; border: 1px solid #DEDEDE; border-top: 3px solid #ffa800; padding: 20PX; margin-top:15PX;}
.left_xq .title{ text-align: left; width:560px; float: left; margin:10px 0;}
.xq_t{ font-size:14px; color:#646464; line-height:26px; text-align: left}
.xq_small{ margin:10px 0; text-align:right; color:#999; }

.right_xq{ width:385px; float: right; margin:15PX 0;}
.r_mo_o{ background:#FFF; border: 1px solid #DEDEDE;border-top: 3px solid #ffa800; padding: 15PX; width:355px; margin-bottom:15px;}
.r_m_r{ margin:4px 0; text-align:right; font-size:14px; color:#666}
.r_m_o_b{ font-size:18px; margin:15px 0; border-bottom: 1px solid #DEDEDE; padding-bottom:10px;}
.gray_s{ color:#999; font-size:12px;}
.left_j{ float: left; font-size:18px; color:#999; margin-right:15px; line-height:30px; }
.r_m_j{ float: left; margin-bottom:8px;}
.r_m_list{ float: left;  }
.r_m_list a{ font-size:18px; padding:2px 8px; display: block; float: left; border: 1px solid #DEDEDE; margin-right:10px; color:#999}
.r_m_list a:hover,.r_m_list a.hover{ background:#ffa800; color: #FFF;  border: 1px solid #ffa800; }

.r_m_input{ float: left; border: 1px solid #dedede; height:26px; width: 165px; position:relative; margin-top:3px;}
.r_m_input input{ width:130px; height:25px; color:#555; font-size:14px; line-height:25px; text-align: left; padding:0 5px; background: #FFF; outline: none; border: 0;}
.r_m_input font{ position:absolute; right:5px; top:3px; font-size:14px; color:#999}

.r_m_btn{ text-align: left; padding: 10px 0 0 88px;}
.r_m_btn a{ width:165px; height:34px; line-height:34px; color:#FFF; font-size:16px; display: block; background:#66b07d; text-align: center}

.new_list_ul{ float: left ; padding-top:10px; padding-bottom:50px; min-height:370px}
.new_list_ul li{ margin-bottom: 10px; float: left; }
.new_list_ul a{ width: 625px; display: block;float: left;text-align: left; line-height: 22px; font-size: 14px; color:#685957;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.new_list_ul a:hover{ text-decoration: underline}
.new_list_ul span{ width: 60px; font-size: 14px; color:#685957; float: left}

.page{text-align: center; position: relative; margin:3% auto 0; color: #672f06;}
.page a { display: inline-block; height: 21px; width: 21px; color:#555; line-height: 21px; text-align: center; mtext-decoration: none;margin: 3px 3px 3px 0;}
.page a:hover,.page a.hover{ background: #66b07d; color:#FFF;}
.page a span { display: inline-block; cursor: pointer; height: 21px; width: 21px; line-height: 21px; text-align: center; font-size: 12px;}

.po_rbox{ padding:20px; text-align: center; background:#fff; width:400px;}
.po_r_ti{ font-size:20px; text-align: center; margin-bottom:10PX;}

.po_box{ padding: 10px 25px 30px 10px; text-align: center; background: #FFF; width:350PX;}
.po_title{ padding-bottom:30px;}
.po_one{ padding:0 0 0 15px;}

/*登录注册样式start*/
.r_in{ padding:20px 0 0;}
.r_in li{ margin-bottom:15px;}
.r_in_input{ width: 250px; height:30px; line-height:30px; background: #FFF; border: 1px solid #DEDEDE; color:#666; padding:0 5px; outline: none}
.r_in_tinput{ width: 138px; height:30px; line-height:30px; background: #FFF; border: 1px solid #DEDEDE; color:#666; padding:0 5px; outline: none}
.i_btn{ width:105px; height:30px; color:#FFF; line-height:30px; text-align: center; font-size:14px; background:#F90; display: inline-block; margin-left:8px; cursor: pointer}
.i_btn:hover{ color:#FFF}

.z_btn{ width:260px; height:38px; color:#FFF; line-height:38px; text-align: center; font-size:14px; background:#F90; display: inline-block;cursor: pointer}
.z_btn:hover{ color:#FFF}

.f_d{ font-size:14px; color:#777;  text-align:right; cursor: pointer}
.f_d:HOVER{ color:#666;text-decoration: underline;}
/*登录注册样式end*/